/* Auction Item Container */
.auction-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 4000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/* Title */
.auction-item-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Image */
.auction-item-image {
    width: 40%;
    border-radius: 5px;
}

/* Description */
.auction-item-description {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Details Section */
.auction-item-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Bid Section */
.auction-item-bid {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Current Bid */
.auction-item-current-bid {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

/* Select Box */
.auction-item-select {
    max-width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

/* Info Section */
.auction-item-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 3500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.auction-item-info p {
    margin-bottom: 10px;
}

/* Labels */
.info-label {
    font-weight: bold;
    color: #555;
}

.new-value {
    font-weight: bold;
    color: #007bff;
}
.last-onner {
    font-weight: bold;
    color: #e10404;
}
.value-name {
    font-weight: bold;
    color: #333;
}

.owner-name {
    font-weight: bold;
    color: #2d12c5;
}

.where-winner {
    font-weight: bold;
    color: #0598e8;
}

.winner-name {
    font-weight: bold;
    color: #1abb1f;
}

/* Timer */
.auction-item-timer {
    font-size: 1em;
    color: #777;
    margin-top: 10px;
}

/* Input */
.auction-item-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e62424;
    margin-top: 10px;
}


/* Button */
.auction-item-button {

    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
}

.auction-item-button:hover {
    background-color: #0056b3;
}

.auction-item-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

