.header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Centraliza o conteúdo */
    background-color: #f8f9fa;
    padding: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21293b;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0; 
    margin: 0; 
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav a {
    color: white;
    text-decoration: none;
}
