form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    text-align: center; /* Centraliza o texto */
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

input[type="file"] {
    padding: 8px; /* Ajuste para ficar alinhado com os outros inputs */
}

img {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 100%; /* Garante que a imagem não ultrapasse o seu contêiner */
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s; /* Transição suave para o hover */
}

button:hover {
    background-color: #218838;
}

.auction-info {
    background-color: #218838;
    color: #218838;
}